@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,100;8..144,600;8..144,700;8..144,900&display=swap');

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: SF-regular;
  src: url(fonts/SF-Pro-Display-Regular.otf);
}
@font-face {
  font-family: SF-medium;
  src: url(fonts/SF-Pro-Display-Medium.otf);
}
@font-face {
  font-family: SF-semibold;
  src: url(fonts/SF-Pro-Display-Semibold.otf);
}
@font-face {
  font-family: SF-bold;
  src: url(fonts/SF-Pro-Display-Bold.otf);
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  line-height: 180%;
  letter-spacing: 0.3pt;
  font-family: "SF-regular", sans-serif;
  color: #444;
  font-size: 0.95rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body strong {
  font-weight: 600;
}
a {
  color: #444;
}
a:hover {
  color: #e29a77;
  text-decoration: underline;
}
img {
  max-width: 98%;
  margin: 5px 0 20px;
}
.paragraph-block ul{
  margin: 14px 0 10px -26px;
}
.border{
  border: 1px solid #dedede;
}
.img-small{
      max-width: 40%;
}
/*Index****
**********************************************/
.robotoSerif{
  font-family: 'Roboto Serif', serif;
  line-height: 1;
}
@font-face {
  font-family: Yorkfont;
  src: url(NewYorkExtraLarge-Bold.otf);
}
.main-font{
  font-family: Yorkfont, serif;
  line-height: 1;
}
.kalam {
  line-height: 1;
}
.kalam span {
  color: #517c83;
}
.quote{
  border-left: 2px solid #f28a2a;
  padding-left: 30px;
  margin:22px 0px 28px !important;
}
.quote-2{
    font-size: 1.4em;
    font-style: italic;
    line-height: 140%;
    color: #666;
}
.navbar-brand {
  font-size: 1.6rem;
  font-weight: 900;
  bottom: 0;
  position: relative;
  color: #f2882a;
  display: flex;
  align-items: center;
  line-height: 1;
}

.nav-link {
  font-weight: 300;
  letter-spacing: 0.4px;
  font-size: 1.1rem;
}
.nav.redes img{
  width: 30px;
}
.nav.redes.pt-5 .p-2:first-child{
  padding-left: 0 !important;
}
.nat {
  max-width: 32vw;
  min-width: 600px;
}
.nat img {
  max-width: 100%;
}
.nat h1 {
  text-align: left;
  font-size: 5.6rem;
  font-weight: 600;
  color: #48444a;
  letter-spacing: 0px;
  margin-bottom: 2rem !important;
}
.nat h1 span{
  color: #f2882a;
}
.nat p {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: left;
  line-height: 200%;
}
.next, h2.next{
    color: #a59f97;
    font-weight: 300;
    font-size: 1.4em;
    margin-bottom: 4em;
    text-align: center;
}
.info p span {
  font-weight: 500;
}
.timeline {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.timeline .line {
  max-width: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.point {
  position: relative;
  z-index: 1;
  text-align: left;
  padding-top: 25px;
}
.dot {
    position: absolute;
    left: 0;
    top: 0px;
    width: 14px;
    height: 14px;
    background-color: #f2882a;
    border-radius: 100%;
}
.init {
  flex-grow: 2;
}
.point span {
  font-size: 16px;
  color: #a3a3a3;
  letter-spacing: 0;
}
.point h3 {
  font-size: 1rem;
  color: #444;
  letter-spacing: 0.2px;
  line-height: 8px;
  font-weight: 400;
}
.border-divisor {
  border-top: 2px solid #a59a95;
}
.title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 8vh;
  margin-top: 8vh;
  color: #000;
}
ul li.title {
  font-size: 1rem;
  line-height: initial;
  margin: 0;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 10px !important;
  font-family: 'SF-medium';
  margin-left: -15px;
  color: #444;
}
.t-small {
  margin-bottom: 8vh;
}
.down-text {
  font-family: "Lexend";
  display: block;
  color: #777777;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
.project {
  max-width: 90vw;
  min-width: 510px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20vh;
  justify-content: center;
}
.project > div {
  padding: 0 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pro-content p {
  max-width: 370px;
  font-weight: 300;
  line-height: 150%;
}
.pro-content p span {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2px;
  margin-top: 10px;
  color: #222;
}
.pro-content h1 {
  font-family: 'Roboto Serif', serif;
  font-size: 2.8rem;
  font-weight: 600;
  color: #48444a;
}

.sub {
  font-family: "Lexend";
  display: block;
  color: #777777;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 14px;
  margin-top: 10px;
  line-height: 140%;
}
.button {
  width: 180px;
  padding: 12px 10px;
  border: 1px solid #f4a782;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  display: inline-block !important;
  font-weight: 500;
  color: #f4a782;
}
.button:hover {
  border-color: #e29a77;
}
.pro-media img {
  max-width: 100%;
}
.about p {
  font-size: 1.1rem;
  margin-bottom: 1.8rem;
}
.about > span {
  text-align: left;
  display: block;
  font-weight: 700;
  padding-top: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 2px;
  color: #222;
}
/*Carousel*/
.carousel {
  position: relative;
  margin-bottom: 20px;
  width: 98%;
  margin-top: 20px;
}
.d-block {
  display: block !important;
  margin: 0 auto;
}
.carousel-inner {
  border: 1px solid #ccc;
  height: 100%;
  width: 100%;
}
.carousel-indicators li {
  border-radius: 8px;
  height: 8px;
  width: 8px;
  background: #ccc;
}
.carousel-indicators .active {
  background: #222;
}
.carousel-indicators {
  position: relative;
  right: 0;
  bottom: 0;
  margin-top: 10px;
}
.carousel-control-next,
.carousel-control-prev {
  opacity: 0.2;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 30px;
  height: 30px;
}
.carousel-control-next-icon {
  background-image: url("../img/arrow-next.svg");
}
.carousel-control-prev-icon {
  background-image: url("../img/arrow-prev.svg");
}

.row-95{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  line-height: 28px;
}

/*Animations*/

@keyframes ballFloat {
  0% {
    transform: scale(1) translateZ(0);
  }
  33% {
    transform: scale(1) translate3d(0, 5px, 0);
  }
  66% {
    transform: scale(1) translate3d(0, -5px, 0);
  }
}
.ballFloat {
  transition: transform 0.25s ease-out;
  -webkit-animation: ballFloat 5s linear infinite;
  animation: ballFloat 5s linear infinite;
  -kthtml-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.delay-1 {
  transition-delay: 0.45s;
  -webkit-animation-delay: 0.75s !important;
  animation-delay: 0.75s !important;
}
.delay-2 {
  transition-delay: 0.9s;
  -webkit-animation-delay: 1.5s !important;
  animation-delay: 1.5s !important;
}
.e {
  -webkit-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.t {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.s {
  -webkit-animation-delay: 1.9s;
  animation-delay: 1.9s;
}
.l {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

/*Proyect Details****
**********************************************/
.paragraph-block{
    max-width: 620px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    display: block;
}
span.line {
  background-color: #d5d5d5;
  height: 3px;
  text-indent: -99999px;
  overflow: hidden;
  margin-top: 20px;
}
section {
  padding: 2rem 0 2rem 0;
}
.proyect p{
}
.proyect h1 {
  color: #222;
  font-size: 3rem;
}
.proyect h2 {
  font-family: 'SF-semibold';
  font-size: 2.1rem;
  color: #1f1f1f;
  margin-bottom: 1.2rem;
  letter-spacing: .4px;
}
.proyect h3 {
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 0.5px;
  margin: 34px 0px;
  line-height: 36px;
  color: #f28a2a;
}
.proyect h4 {
  font-size: 1.1rem;
  color: #222222;
  margin-bottom: 6px;
  letter-spacing: .2px;
  font-family: SF-bold;
}
.proyect h5 {
  font-weight: 600;
  font-size: 16px;
  color: #757575;
  margin-bottom: 2px;
}
.proyect p,
ul li {
    font-size: 1.1rem;
    color: #474747;
    line-height: 176%;
    letter-spacing: .3px;
    margin-bottom: 4px;
}
.proyect ul li {
  margin-bottom:0;
}
.proyect p.quest {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
}
.proyect p.captions{
  color: #bebebe;
  text-align: center;
  margin-bottom: 25px;
  font-size: 14px;
  margin-top: -16px;
}
.proyect ul.list-number{
  list-style-type: decimal;
  margin-top: 21px;
}
.proyect ul.list-number li{
  padding-left: 10px;
}
.box-text {
  max-width: 100%;
}
.proyect p.source {
  word-break: break-all;
}
.proyect p.source a {
  display: block;
  font-size: 0.9rem;
  line-height: 150%;
  color: #888;
}
.proyect p strong {
  font-weight: bolder;
}
.proyect span {
  display: block;
}
.col-sm img {
  max-width: 100%;
}
/**/
.header-proyect {
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.header-proyect.survey {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}
.header-proyect.layout-2 {
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
}
.header-proyect.layout-2 img{
  margin-bottom:0px;
}
.header-img {
  max-height: 100%;
  max-width: 100%;
  display: block;
}
.name-proyect {
  padding-top: 20px;
  padding-bottom: 50px;
}
.name-proyect p{
  font-size: 1.4rem;
  color: #747474;
}
.name-proyect h1 {
  font-weight: bold;
  font-size: 3.2rem;
  font-family: 'SF-bold';
}
.cont-img {
  height: 74%;
  display: flex;
  align-items: flex-end;
}
.grow-2 {
  flex-grow: 2;
}
.grow-3 {
  flex-grow: 3;
}
.z-1 {
  z-index: 1;
}
.z-0 {
  z-index: 0;
  position: absolute;
}
.pos-1 {
  left: 12vw;
  top: 20%;
  max-width: 30%;
}
.pos-2 {
  right: 20%;
  top: 3vh;
  max-width: 20%;
}
.pos-3 {
  right: 10vw;
  bottom: 20%;
  max-width: 16%;
}
.pos-s-1 {
  left: 12vw;
  top: 66%;
  max-width: 30%;
  z-index: 100;
}
.pos-s-2 {
  right: 25%;
  bottom: 43vh;
  max-width: 20%;
  z-index: 100;
}
.pos-s-3 {
  right: 10vw;
  bottom: 26%;
  max-width: 16%;
  z-index: 100;
}
.proyect-detail{
  margin-top:20px;
}
.proyect-detail span {
  font-size: 13px;
  color: #444444;
  letter-spacing: 0.1px;
  line-height: 100%;
  font-family: SF-bold;
}
.proyect-detail p {
  font-weight: 400;
  font-size: 1rem;
  color: #999;
  line-height: 180%;
  margin-top:0px;
  letter-spacing: .1px;
}
.color-1 {
  background-color: #fdf4ea;
}
.bg-ecomeal {
  background: #fdf4ea url(../img/Ecomeal/bg-problem-statement.png) no-repeat
    right top;
  background-size: contain;
}
.bg-gray {
  background-color: #f4f4f4;
}
.bg-lightblue {
  background-color: #eff8f9;
}
.bg-lightgreen {
  background-color: #f3f8ed;
}
.bg-gray2 {
  background-color: #f9f9f9;
}
.bg-ligth-red {
  background-color: #eee3e3;
}
.line-red {
  border-top: 6px solid #e12b1152;
  border-bottom: 6px solid #e12b1152;
}
.c-red {
  color: #e3081e !important;
}
.download {
  font-weight: 500;
  font-size: 14px;
  color: #47b2b6;
  letter-spacing: 0;
}
.mobile {
  display: none;
}

/*Grid Images*/
.grid-image{
  
}

/*Lets*/
.header-proyect.lets {
  background-image: linear-gradient(
    180deg,
    #ffffff 0%,
    #fafafa 39%,
    #d0d0d0 100%
  );
  height: 65vh;
  margin-bottom: 30vh;
  overflow: inherit;
}
.bg-lets {
  background: #ebebeb url(../img/Lets/bg-problem-statement.png) no-repeat right
    top;
}
.lets .iphone {
  position: absolute;
  bottom: -32vh;
  left: 50vw;
  max-height: 95vh;
}
.left-side {
  position: absolute;
  left: 15vw;
  text-align: left;
}
.left-side h1 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.2px;
  padding-left: 10px;
  padding-top: 20px;
}
.word {
  display: flex;
  flex-flow: row;
  align-items: baseline;
}
.word img {
  padding-left: 12px;
}
.word > img:last-child {
  padding-left: 6px;
}
.img-center {
  margin: 0 auto;
  display: block;
}
.video {
  max-width: 90%;
  height: auto;
}
p.speech {
  font-size: 2.2em;
  margin-top: 50px;
}
/*Responsive****
**********************************************/
@media (max-width: 1199.98px) {
  .bg-ecomeal {
    background: #fdf4ea url(../img/Ecomeal/bg-problem-statement.png) no-repeat
      134% top;
  }
  .pos-1 {
    left: 0%;
    top: 16%;
  }
  .pos-2 {
    top: 10%;
  }
  .pos-3 {
    bottom: 31%;
  }
  .lets .iphone {
    bottom: -24vh;
    right: 0vw;
    max-height: 55vh;
    left: auto;
  }
  .left-side {
    top: 13vh;
    left: 5vw;
  }
  .header-proyect.layout-2.under {
    height: auto;
  }
}
@media (max-width: 900px) {
  .nat img {
    max-width: 320px;
  }
  .header-proyect {
    height: 80vh;
  }
  .header-img {
    max-height: 100%;
  }
  .left-side {
    transform: scale(0.6);
    left: -22px;
    top: 9vh;
  }
  .lets .iphone {
    bottom: -24vh;
    right: 2%;
    max-height: 70vh;
  }
  .bg-lets {
    background: #ebebeb url(../img/Lets/bg-problem-statement.png) no-repeat 130%
      top;
  }
  .name-proyect h3 {
    font-weight: 400;
    font-size: 24px;
    color: #333333;
    letter-spacing: 0;
    line-height: 36px;
    margin-top: 25px;
  }
}
@media (max-width: 768px) {
    .name-proyect h1{
    font-size: 2.4rem;
    letter-spacing: 0;
  }
  .pb-5, .py-5 {
    padding-bottom: 2rem !important;
  }
  .row-95{
    display:block;
    margin: 0;
    width: 100%;
  }
  .col{
  }
  .m-order-2 {
    order: 2;
  }
  .project {
    flex-direction: column;
    min-width: auto;
  }
  .pro-media {
    text-align: center !important;
  }
  .pro-media img {
    width: 100%;
  }
  .pro-content h1 {
    margin-top: 30px;
  }
  .title {
    margin-bottom: 10vh;
    margin-top: 1vh;
  }
  .proyect-detail {
    display: flex;
    flex-direction: column;
    margin-left:0;
  }
  .proyect-detail .col {
    flex-basis: auto;
    flex: initial;
    flex-grow: initial;
    min-height: auto;
    display: block;
  }
  .lets .iphone {
    right: 0%;
    max-height: 62vh;
    max-width: 100%;
  }
  .bg-lets {
    background: #ebebeb;
  }
  .container, .container-fluid {
    padding-right: 24px;
    padding-left: 24px;
  }
  .proyect p, ul li{
    font-size: 1rem;
    letter-spacing: .1px;
    margin-top: 0px;
    line-height: 160%;
  }
  .proyect h2{
    font-size: 24px;
    letter-spacing: .2px;
  }
  .proyect h3 {
    font-size: 20px;
    letter-spacing: 0.3px;
    margin: 10px 4px 10px 0;
    line-height: 26px;
    padding-left: 18px;
  }
  .proyect h4{
    font-size: .9rem;
    letter-spacing: .2px;
  }
  .proyect h5 {
    font-size: 15px;
     letter-spacing: 0px;
  }
}
@media (max-width: 600px) {
  .header-proyect {
    height: 90vh;
    justify-content: end;
  }
  .kalam {
    text-align: center;
    margin-top: 0 !important;
  }
  .nat {
    min-width: 90%;
  }
  .navbar > div.home {
    flex-direction: column;
  }
  .navbar .redes {
    display: none;
    margin-top: 10px;
  }
  .navbar .redes .social-icon img {
    max-width: 30px;
  }
  .desk {
    display: none;
  }
  .mobile {
    display: block;
    max-height: 100%;
    max-width: 90%;
  }
  .nat h1 {
    font-size: 4rem;
  }
  .point{
    padding-top: 16px;
  }
  .point h3 {
    font-size: 0.85rem;
  }
  .bg-ecomeal {
    background: #fdf4e9;
  }
  .carousel {
    width: 100%;
  }
  .pos-2 {
    top: 26%;
    right: 13%;
    max-width: 40%;
  }
  .pos-3 {
    right: 25%;
    bottom: 31%;
  }
  .lets .iphone {
    bottom: -28vh;
  }
  .img-small{
      max-width: 100%;
  }
}
